<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Your Password - TheRecipe</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
</head>
<body>
    <div class="forgot-password-container">
        <div class="forgot-password-form">
            <h2>Reset Your Password</h2>
            <form id="resetPasswordForm">
                <input id = "email" type="email" placeholder="Enter your email address" required>
                <input id = "newPassword" type="password" placeholder="Create a new password" required>
                <input id = "confirmPassword" type="password" placeholder="Confirm new password" required>
                <button type="submit">Continue</button>
            </form>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script>
        document.getElementById('resetPasswordForm').addEventListener('submit', function(event) {
            event.preventDefault();

            const email = document.getElementById('email').value;
            const newPassword = document.getElementById('newPassword').value;
            const confirmPassword = document.getElementById('confirmPassword').value;

            // Check if new password and confirm password match
            if (newPassword !== confirmPassword) {
                alert("Passwords do not match. Please try again.");
                return;
            }

            const formData = new FormData();
            formData.append('email', email);
            formData.append('newPassword', newPassword);

            fetch('/reset-password', {
                method: 'POST',
                body: formData
            })
            .then(response => response.text())
            .then(data => {
                if (data === "Password reset successful") {
                    alert("Password reset successful. Redirecting to login page...");
                    window.location.href = '/login';
                } else {
                    alert(data);
                }
            })
            .catch(error => console.error('Error:', error));
        });
    </script>
</body>
</html>
